@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Abul Kalam Azad Chandbactha
   Date:  09/June/2022 
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */




/* CSS Grid Styles */






/* Horizontal Navigation List Styles */



/* Section Styles */




/* Customer Comment Styles */

